<footer class="footer">
  <div class="footer-content">

    <!-- Redes sociales -->
    <div class="rrss">
      <a href="https://www.instagram.com/craftingkela" target="_blank" rel="noopener noreferrer">Instagram

      </a>
      <a href="https://www.tiktok.com/@craftingkela" target="_blank" rel="noopener noreferrer">Tiktok

      </a>
      <a href="mailto:crafting.kela@gmail.com">crafting.kela&#64;gmail.com

      </a>
    </div>

    <!-- Texto copyright / marca -->
    <div class="footer-text">
      © 2025 Crafting Kela. Todos los derechos reservados.
    </div>

  </div>
</footer>