<form class="formulario-contacto" #contactoForm="ngForm" (ngSubmit)="siguiente(contactoForm)">

  <app-progress-bar [currentStep]="3"></app-progress-bar>

  <button type="button" class="btn-close" aria-label="Close" (click)="volverAlInicio()"></button>

  <div class="error-text global-error" *ngIf="mostrarErrores && contactoForm.invalid">
    Rellena los campos obligatorios para continuar
  </div>
  <h3>¿Cómo puedo contactar contigo?</h3>
  <label>
    Nombre*:
    <input type="text" [(ngModel)]="nombre" name="nombre" #nombreInput="ngModel" required
      [class.error]="nombreInput.invalid && mostrarErrores" />
  </label>

  <label>
    Apellido*:
    <input type="text" [(ngModel)]="apellido" name="apellido" #apellidoInput="ngModel" required
      [class.error]="apellidoInput.invalid && mostrarErrores" />
  </label>

  <label>
    Correo*:
    <input type="email" [(ngModel)]="correo" name="correo" #correoInput="ngModel" required
      [class.error]="correoInput.invalid && mostrarErrores" />
  </label>

  <label>
    Teléfono:
    <input type="text" [(ngModel)]="telefono" name="telefono" />
  </label>

  <div class="botones">
    <button type="button" (click)="atras()">Atrás</button>
    <button type="submit">Siguiente</button>
  </div>


</form>