<section class="comprobar">
  <h2>Revisa tu pedido</h2>

  <div class="resumen">
    <h3>Pack seleccionado:</h3>
    <p *ngIf="pack">{{ pack.nombre }}</p>
    <p *ngIf="!pack">No se ha seleccionado ningún pack.</p>

    <h3>Telas seleccionadas:</h3>
    <div *ngIf="telas">
      <p>Exterior: {{ telas.exterior?.nombre }}</p>
      <img *ngIf="telas.exterior?.imagen" [src]="telas.exterior.imagen" alt="Tela exterior" class="mini-img">

      <p>Forro: {{ telas.forro?.nombre }}</p>
      <img *ngIf="telas.forro?.imagen" [src]="telas.forro.imagen" alt="Tela forro" class="mini-img">
    </div>
    <p *ngIf="!telas">No se han seleccionado telas.</p>
  </div>
  <h3>Datos de contacto</h3>
  <div *ngIf="contacto">
    <p>Nombre: {{ contacto.nombre }} {{ contacto.apellido }}</p>
    <p>Correo o teléfono: {{ contacto.contacto }}</p>

    <h3>Método de envío:</h3>
    <p *ngIf="contacto.metodoEnvio === 'mano'">
      Entrega en mano - Ciudad: {{ contacto.ciudadEntrega }}<br />
      Anotaciones: {{ contacto.anotaciones }}
    </p>

    <p *ngIf="contacto.metodoEnvio === 'correos'">
      Entrega por Correos - Dirección: {{ contacto.direccion.calle }}, {{ contacto.direccion.numero }},
      {{ contacto.direccion.puerta }}, {{ contacto.direccion.cp }}, {{ contacto.direccion.ciudad }}
    </p>

    <p *ngIf="contacto.metodoEnvio === 'plataforma'">
      Entrega por plataforma: {{ contacto.plataforma }}
    </p>
  </div>


  <div class="actions">
    <button (click)="volver()">Volver</button>
    <button (click)="confirmar()">Confirmar pedido</button>
  </div>

  <app-progress-bar [currentStep]="3"></app-progress-bar>
</section>