.progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  gap: 5px;
  /* separación entre puntos */
}

.progress-step {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  transition: background-color 0.3s ease;
}

.progress-step.active {
  background-color: #ff4f4f;
  /* color activo (puedes cambiarlo) */
}